html, body {
	width: 400px;
	margin: 0;
	padding: 0;
	color: rgb(34, 34, 34);
	background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
}

main {
	padding: 0 0.5rem;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: rgb(34, 34, 34);
}

p {
	margin: 1rem;
}

ul {
	padding: 0;
	margin: 0;
}

#results li {
	list-style-type: none;
	margin: 0.25rem 0em;
	background-color: #ffffff;
}

#search {
	text-align: center;
}

.search-img {
	display: block;
	margin: auto;
	width: 60%;
}

.search-title {
	font-size: 1.5rem;
}

.search-artists {
	font-size: 1rem;
}

.track-info {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem;
}

.track-info img {
	width: 30%;
}

.track-title-artist {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.track-title-artist p {
	margin: 0.5rem 0rem;
}

.page {
	display: flex;
}

.page img {
	max-width: 20%;
	height: 75px;
}

.page-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .375rem .375rem .25rem;
}

.page-title {
  font-size: 1.2em;
}

.page-artist {
	font-size: 0.9em;
	margin-top: .125rem;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 
.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.75s;
}

.link {
	text-decoration: underline;
}

#google-links {
  padding: 0.5rem;
}

#google-links ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
